.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu li{
    margin: 0px 20px;
}
.navigation-menu li a{
    text-decoration: none;
    color:white;
} 


/* mobile navigation menu */


.mobile-navigation-menu{
    list-style: none;
}
.mobile-navigation-menu li{
    margin-top: 20px;
}
.mobile-navigation-menu li a{
    text-decoration: none;
    font-size: 1.4rem;
    color:black;
}
