.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu li{
    margin: 0px 20px;
}
.navigation-menu li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
} 

.active{
    color:blue !important;
    font-weight: bold !important; 
    border-bottom: 3.5px solid blue;
}

  .navigation-menu a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: blue;
    margin: auto;
    display: block;
  }
  .navigation-menu a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
  }
  .navigation-menu a:hover{
    color: blue;
  }


/* mobile navigation menu */


.mobile-navigation-menu{
    list-style: none;
}
.mobile-navigation-menu li{
    margin-top: 20px;
}
.mobile-navigation-menu li a{
    text-decoration: none;
    font-size: 1.4rem;
    color:black;
}

